<% layout('layouts/boilerplate') %>

<div class="row">
    <h3 class="text-center mt-3">Add New Campground</h3>
    <!-- Make the form centered -->
    <div class="col-6 offset-3">
        <!-- define a form to allow user to add new campground -->
        <form
            action="/campgrounds"
            method="POST"
            novalidate
            class="needs-validation"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input
                    class="form-control"
                    type="text"
                    id="title"
                    name="campground[title]"
                    required />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a title.</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control"
                    type="text"
                    id="location"
                    name="campground[location]"
                    required />
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a location.</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea
                    class="form-control"
                    type="text"
                    id="description"
                    name="campground[description]"
                    required></textarea>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a description.</div>
            </div>
            <div class="mt-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input
                        type="text"
                        name="campground[price]"
                        class="form-control"
                        placeholder="0.00"
                        aria-label="Amount (to the nearest dollar)"
                        required />
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Camp Images</label>

                <div class="input-group mb-3">
                    <input
                        type="file"
                        class="form-control"
                        id="inputGroupFile02"
                        name="image"
                        id="image"
                        multiple />
                </div>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a price.</div>
            </div>
            <div class="mt-4">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
    </div>
</div>
