<% layout('layouts/boilerplate') %>
<h1><%= tarCampground.title %></h1>
<%= tarCampground.location %>
<p>
    <a href="/campgrounds/<%= tarCampground._id%>/edit">Edit</a>
</p>
<form action="/campgrounds/<%= tarCampground._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<p>
    <a href="/campgrounds">Back to All Campgrounds</a>
</p>
