<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<ul>
    <% for (let campground of allCampgrounds) { %>
    <li>
        <a href="campgrounds/<%= campground.id %>"><%= campground.title %></a>
    </li>
    <% } %>
</ul>
